
<!-- trial -->
<!-- <ng-progress></ng-progress> -->

<div class="main-image">
  <div class="container">
    <div class="search">
      <h1>Search User</h1>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="userName" name="name" #name="ngModel" placeholder="Enter username..." required>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p> Name is Required</p>
        </div>
      </div>
      <button type="Submit" class="btn btn-danger btn-lg button" (click)=showUser() (click)="showRepo()"  [disabled]="userName==''" placeholder="Enter username">SEARCH</button>
    </div>
    
    <br>
    <label for="name"><b>Repositories:</b></label>
<br>
    
    <div class="row hidden" *ngIf="show == true">
      <div *ngFor="let repo of repos" class="repos">
        <p><span>Description: </span>{{repo.description}}</p>
        <p><span>Language :</span>{{repo.language}}</p>
        <p><span>Forks :</span>{{repo.forks}}</p>
      </div>
  
    </div>
  
  
  
  
  </div>
  
</div>