#pic{
  height: 250px;
  width: 250px;
  border-radius:200px;
  margin-left: 50px;
  margin-top: 30px;
}

.user{
  padding-top: 50px;
  padding-left: 150px;
}
.hidden{
  margin-top:30px;
}
.repos{
  border-radius: 20px;
  padding:20px 20px 20px 20px;
  background-color: black;
  margin-right: 90px;
  margin-bottom: 30px;
  width: 250px;
  color: white;
}
span{
  color: red;
}
.button{
  margin-top: 40px;
}